.landing-page-container {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)
  ), url("../../images/alvin-main-image.jpeg") no-repeat top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 60%;
  font-family: sans-serif;
  padding-top: 30vh;
}

.logo-image {
  height: 7rem;
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../images/logoNoText.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0) invert(0.9);
}

.site-title {
  font-size: 3rem;
  color: lightgray;
  font-weight: 700;
  margin: 0 0 3rem 0;
  text-align: center;

  /*iphone*/
  @media only screen and (max-width: 844px) {
    font-size: 2rem;
  }
}

.site-title p {
  font-size: 1rem;
  font-weight: initial;
  margin: 0;
}
